{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
   <div class="diaporama">
        <!-- Conteneur des "diapos" -->
        <div class="elements">
            <!-- Deuxième diapo -->
            <div class="element">
                <div class="caption">
                    <h2>Image 2</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, saepe.</p>
                    <a class="button" href="{{ path('app_catalogue') }}">Order Now</a>

                </div>
            </div>
            <!-- Troisième diapo -->
            <div class="element">
                <div class="caption">
                    <h2>Image 3</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, saepe.</p>
                    <a class="button" href="{{ path('app_catalogue') }}">Order Now</a>
                </div>
            </div>
            <!-- Quatrième diapo -->
            <div class="element">
                <div class="caption">
                    <h2>Image 4</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, saepe.</p>
                    <a class="button" href="{{ path('app_catalogue') }}">Order Now</a>
                </div>
            </div>
        </div>
        <!-- Flèches de navigation -->
        <i id="nav-gauche" data-feather="arrow-left-circle"></i>
        <i id="nav-droite" data-feather="arrow-right-circle"></i>
        
   </div>




   <div id="rectangle">

      <div class="rectangle1">
         <div class="rec1">
            <div class="rec2">
            <div class="img">
                  <img class="recimg" id="recimg" src="{{ asset('images/rec1.jpg') }}" alt="">  
            </div>
               <div class="text">
                     <p>Tasty Thursdays</p>
                     <p>20% off</p>
                     <a class="btn" href="{{ path('app_catalogue') }}">Order</a>
               </div>
            </div>
         </div>

         <div class="rec1">
            <div class="rec2">
               <div class="img">
                  <img class="recimg" id="recimg" src="{{ asset('images/rec1.jpg') }}" alt="">  
            </div>
               <div class="text">
                  <p>Tasty Thursdays</p>
                  <p>20% off</p>
                  <a class="btn" href="{{ path('app_catalogue') }}">Order</a>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div id="gridmenu">
      <div id="grid">
            {% for produit in produits %}
                <div class="grid1">
                    <div class="ig">
                        <a class="afficher" href="{{      path(  "app_afficher"  ,  {'id' : produit.id }   )         }}" title="Cliquez pour afficher la fiche produit">  
                        {% if produit.image %} 
                            <img src="{{ asset(  'images/produit/' ~ produit.image    ) }}"  class="itemImg">
                        {% else %}
                            <img src="{{ asset(  'images/home.jpg'   ) }}" class="itemImg">
                        {% endif %}
                    </div>
                    <div class="grig2">
                        <div class="">
                            <h2>{{ produit.titre }}</h2>
                            <p>
                                {% if produit.categorie %}
                                    {{ produit.categorie.name }}
                                {% else %}
                                    N.A
                                {% endif %}
                            </p>
                        </div>
                        <div class="pan">
                            <p>$ {{ produit.prix }}</p>
                            <div class="cart">
                                <a href="{{path("app_add_to_cart", {'id' : produit.id })}}"><i data-feather="shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>




   <div id="back">
      <div class="back1">
         <h3>We Are Feane</h3>
         <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All </p>
      </div>
   </div>


<div class="comment">
    <h2 class="ce">Ce que dis nos Clients</h2>
    <div class="comment1">
        <div class="commentmessage"  id="commentmessage">
            {% for comment in comments %}
                <div class="ctm">
                        <div class="messageuser">
                            <p class="mmm">{{ comment.message }}</p>
                            <h4 class="mmm1">{{ comment.user.lastname }} {{ comment.user.name }}</h4>
                        </div>
                        <div class="ctmuser">
                            {% if comment.user.avatar %}
                                <img id="cmav" src="{{ asset('images/avatar/' ~ comment.user.avatar) }}" alt="avatar" aria-expanded="false">
                            {% else %}
                                <img id="cmav" src="{{ asset('images/avatar.png') }}" alt="avatar" aria-expanded="false">
                            {% endif %}
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>`
    <div class="fleche">
        <i id="btn-left" data-feather="arrow-left"></i>
        <i id="btn-rght" data-feather="arrow-right"></i>
    </div>
</div>


{% block javascripts %}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}
   
{% endblock %}
