{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
   <div id="home">
        <h1>home</h1>
        
   </div>
   <div id="rectangle">
      <div class="rectangle1">
           <div class="rec1">
         <div class="rec2">
            <div class="img">
               <img class="recimg" src="{{ asset('images/rec1.jpg') }}" alt="">  
            </div>
            <div class="text">
               <p>Tasty Thursdays</p>
               <p>20% off</p>
               <button>Order</button>
            </div>
         </div>
      </div>
      <div class="rec1">
         <div class="rec2">
            <div class="img">
               <img class="recimg" src="{{ asset('images/rec1.jpg') }}" alt="">  
            </div>
            <div class="text">
               <p>Tasty Thursdays</p>
               <p>20% off</p>
               <button>Order</button>
            </div>
         </div>
      </div>
      </div>
   </div>

   {# grid #}
   <div id="grid">
      <div class="grid1">
         <div class="ig">
            <img class="gridimg" src="{{ asset('images/home.jpg') }}" alt="">
         </div>
         <div class="grig2">
            <div class="">
            <h2>Delicious Pizza </h2>
            <p>Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque </p>
            </div>
            <div class="pan">
               <p>$20</p>
               <p>panier</p>
            </div>
         </div>
      </div>

      <div class="grid1">
         <div class="ig">
            <img class="gridimg" src="{{ asset('images/home.jpg') }}" alt="">
         </div>
         <div class="grig2">
            <div class="">
            <h2>Delicious Pizza </h2>
            <p>Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque </p>
            </div>
            <div class="pan">
               <p>$20</p>
               <p>panier</p>
            </div>
         </div>
      </div>

      <div class="grid1">
         <div class="ig">
            <img class="gridimg" src="{{ asset('images/home.jpg') }}" alt="">
         </div>
         <div class="grig2">
            <div class="">
            <h2>Delicious Pizza </h2>
            <p>Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque </p>
            </div>
            <div class="pan">
               <p>$20</p>
               <p>panier</p>
            </div>
         </div>
      </div>
   </div>

   <div id="back">
      <div></div>
   </div>
{% endblock %}
