{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block body %}
<div id="form">
    <div class="registre">
        <h1 class="ins">Inscription</h1>
        {{ form_start(registrationForm) }}
        <div class="regi">
            <div class="f1">
                <p class="name">{{ form_row(registrationForm.name) }}</p>
                <p class="name">{{ form_row(registrationForm.lastname) }}</p>
            </div>
            <div class="f2">
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.phoneNumber) }}
            </div>
            <div class="date">
                {{ form_row(registrationForm.birthAt) }}
            </div>
            <div class="f1">
            <div class="kj">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
            </div>
            </div>
        </div>
        <div class="accepter">
            {{ form_row(registrationForm.accepter) }}
                <button type="submit" class="btn">S'Inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
