{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1></h1>
     <div id="">
        <h1>Nos Menu</h1>
        <div id="ul">
            <ul>
                <li>All</li>
                <li>Burger</li>
                <li>Pizza</li>
                <li>Pizza</li>
            </ul>
        </div>
    </div>
    <div class="">
        {% for produit in produits %}
            {{ produit.titre }}
            {{ produit.description }}
            {{ produit.prix }}
            {% if produit.image %}
                <img src="{{ asset(  'images/produit/' ~ produit.image    ) }}" alt="" class="img80">
            {% else %}
                {# <img src="{{ asset(  'images/produit/' ~ produit.image    ) }}" alt="" class="img80"> #}
            {% endif %}
        {% endfor %}
    </div>
</div>





{% endblock %}
