{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1></h1>
     <div id="">
        <h1>Nos Menu</h1>
        <div id="ul">
            <ul>
                <li>All</li>
                <li>Burger</li>
                <li>Pizza</li>
                <li>Pizza</li>
            </ul>
        </div>
    </div>
    
    <div id="grid">
        {% for produit in produits %}
        <div class="grid1">
         <div class="ig">
            {% if produit.image %} 
                <img src="{{ asset(  'images/produit/' ~ produit.image    ) }}" class="recimg">
            {% else %}
                <img src="{{ asset(  'images/home.jpg'   ) }}" class="recimg0">
            {% endif %}
         </div>
         <div class="grig2">
            <div class="">
            <h2>{{ produit.titre }}</h2>
            <p>{{ produit.description }}</p>
            </div>
            <div class="pan">
               <p>$ {{ produit.prix }}</p>
               <p>panier</p>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>

</div>

   





{% endblock %}
