{% extends 'base.html.twig' %}

{% block title %} Catalogue {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/back.css')}}">
{% endblock %}

{% block body %}
<div class="table">
    <h1>Catalogue</h1>

    <table class="table1">
        <div class="aj">
            <a class="btn btn-secondary" href="{{ path('app_admin_produit_new') }}">Ajouter un Produit</a>
            <a class="btn btn-secondary" href="{{ path('app_admin_categorie_index') }}">Ajouter un Categotie</a>
        </div>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix(€)</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.titre }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>
                {% if produit.image %}
                    <img src="{{ asset('images/produit/' ~ produit.image) }}" alt="" class="tableimg">
                {% else %}
                    pas d'images
                {% endif %}
                </td> 
                <td class="maybtn">
                    <a class="btn1 vert" href="{{ path('app_admin_produit_show', {'id': produit.id}) }}"><i data-feather="eye"></i></a>
                    <a  class="btn1 bleu" href="{{ path('app_admin_produit_edit', {'id': produit.id}) }}"><i data-feather="edit"></i></a>
                    {{ include('admin_produit/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
</div>
{% endblock %}
