{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}

    {% for book in books %}
        <h3>Nom: {{book.name}}</h3>
        <p>Email: {{book.email}}</p>
        <p>Téléphone: {{book.phoneNumber}}</p>
        <p>Nombre de Personnes: {{book.howManyPersons}}</p>
        <h5>Date: {{book.dateAt|date()}}</h5>
    {% endfor %}

{% endblock %}