<nav>
    <div id="menu">
        <div class="menu">
            <div class="logo">
                <a href="{{ path('app_home') }}"><img class="log" src="{{ asset('images/logo.png') }}" alt="logo"></a>
            </div>
            <div class="right">
                <a class="a" href="{{ path('app_home') }}">HOME</a>
                <a class="a" href="{{ path('app_afficher') }}">MENU</a>
                <a class="a" href="{{ path('app_about') }}">ABOUT</a>
                <a class="a" href="">BOOK TABLE</a>
            </div>
            <div class="pro">
                <div class="profile">
                    {# <a href="#"><i class="fas fa-shopping-cart"></i></a>
                    <a href="#">Order Online</a> #}
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_admin_produit_index') }}" class="btnd">Back Office</a>
                        {% endif %}
                            <a class="btnd" href="{{ path('app_logout') }}">Se Déconnecter</a>
                            <a href="#"><i data-feather="shopping-cart" class="cart1"></i></a>
                        {% if app.user.avatar %}
                            <a href="{{ path('app_profile') }}"><img id="avatar" src="{{ asset('images/avatar/' ~ app.user.avatar) }}" alt="avatar" class="avatar" aria-expanded="false"></a>
                        {% else %}
                            <img id="avatar" src="{{ asset('images/avatar.png') }}" alt="avatar" aria-expanded="false">
                            <a href="{{ path('app_profile') }}">recimg</a>
                        {% endif %}

                    {% else %}
                        <div class="seconnecter">
                            <a class="btn" href="{{ path('app_register') }}">S'Inscrire</a>
                            <a class="btn" href="{{ path('app_login') }}">Se Connecter</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

